{%- block sourecode_unit_distance_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {{ form_widget(form.value) }}
        {{ form_widget(form.unit) }}
    </div>
{%- endblock -%}

{%- block sourecode_unit_duration_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {% if units.year %}
            {{ form_widget(form.year) }}
            <span class="input-group-text">{{ 'years' }}</span>
        {% endif %}

        {% if units.month %}
            {% if units.year %}
                <span class="input-group-text">{{ '.' }}</span>
            {% endif %}

            {{ form_widget(form.month) }}
            <span class="input-group-text">{{ 'months' }}</span>
        {% endif %}

        {% if units.day %}
            {% if units.year or units.month %}
                <span class="input-group-text">{{ '.' }}</span>
            {% endif %}

            {{ form_widget(form.day) }}
            <span class="input-group-text">{{ 'days' }}</span>
        {% endif %}

        {% if units.hour %}
            {% if units.year or units.month or units.day %}
                <span class="input-group-text">{{ '.' }}</span>
            {% endif %}

            {{ form_widget(form.hour) }}
            <span class="input-group-text">{{ 'hours' }}</span>
        {% endif %}

        {% if units.minute %}
            {% if units.year or units.month or units.day or units.hour %}
                <span class="input-group-text">{{ ':' }}</span>
            {% endif %}

            {{ form_widget(form.minute) }}
            <span class="input-group-text">{{ 'minutes' }}</span>
        {% endif %}

        {% if units.second %}
            {% if units.year or units.month or units.day or units.hour or units.minute %}
                <span class="input-group-text">{{ ':' }}</span>
            {% endif %}

            {{ form_widget(form.second) }}
            <span class="input-group-text">{{ 'seconds' }}</span>
        {% endif %}
    </div>
{%- endblock -%}